<a href="https://colab.research.google.com/github/changdn3732/it2022/blob/main/tutorial7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
li = [3, 6, 2, 7]
[elem*2 for elem in li]

[6, 12, 4, 14]

In [5]:
li = [('a', 1), ('b', 2), ('c', 7)]
[ n * 3 for (x, n) in li]

[3, 6, 21]

In [6]:
li = [3, 6, 2, 7, 1, 9]
[elem * 2 for elem in li if elem > 4]

[12, 14, 18]

In [7]:
li = [3, 2, 4, 1]
[elem*2 for elem in [item+1 for item in li] ]

[8, 6, 10, 4]